/*   GLOBAL  */

div.page{
    height:100vh;
    z-index: -1;
}

/*   HOME PAGE   */
div.home{
    background-image: url("images/AdobeStock_257330006.jpeg");
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
    border-bottom: white;
}

h1{
    color:white;
    position: absolute;
    top:15%;
    left: 5%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 95px;
    font-weight: 100;
}

/*   NavBar   */

a{
    text-decoration: none;
    font-size: 30px;
    padding:20px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    vertical-align: middle;
}

a:visited{
    color:white;
}

a:hover{
    background-color: grey;
}

ul{
    position:fixed;
    top:85vh;
    background-color: rgba(100, 100, 100, 0.5);
}

li{
    float:left;
    padding: 20px 50px;
    display: block; /*Removes Bullet Point*/
}



/*   ABOUT US PAGE   */

div.about{
    background-image: linear-gradient(rgb(30,30,30),grey,lightgray);
}


/*   PROJECTS PAGE   */

div.projects{
    background-color: antiquewhite;
}


/*   HOBBIES PAGE   */

div.hobbies{
    background-color: coral;
}


/*   CONTACT PAGE   */

div.contact{
    background-color: azure;
}