/*   GLOBAL  */

div.page{
    height:100vh;
}

/*   HOME PAGE   */

div.home{
    background-color: darkgray;
}

a{
    text-decoration: none;
    font-size: 30px;
}

li{
    background-color: black;
    float:left;
    position:relative;
    top:88vh;
    padding: 20px 50px;
    display: block; /*Removes Bullet Point*/
    z-index: 1;
}



/*   ABOUT US PAGE   */

div.about{
    background-color: aqua;
}


/*   PROJECTS PAGE   */

div.projects{
    background-color: antiquewhite;
}


/*   HOBBIES PAGE   */

div.hobbies{
    background-color: coral;
}


/*   CONTACT PAGE   */

div.contact{
    background-color: azure;
}