/*   GLOBAL  */

div.page{
    width:100%;
    height:100vh;
    z-index: -1;
}

/*   HOME PAGE   */
div.home{
    background-image: url("images/home (2).jpg");
    background-size: 100vw;
}

h1{
    color:white;
    position: absolute;
    top:20%;
    left: 5%;
    font-family: "Lucida Sans Unicode", serif;
    font-size: 50px;
}

/*   NavBar   */

a{
    text-decoration: none;
    font-size: 30px;
    padding:20px;
    color: white;
    font-family: "Lucida Sans Unicode", serif;
}

a:visited{
    color:white;
}

a:hover{
    background-color: grey;
}

ul{
    position:absolute;
    top:85vh;
    background-color: rgba(100, 100, 100, 0.5);
}

li{
    float:left;
    padding: 20px 50px;
    display: block; /*Removes Bullet Point*/
}



/*   ABOUT US PAGE   */

div.about{
    background-color: aqua;
}


/*   PROJECTS PAGE   */

div.projects{
    background-color: antiquewhite;
}


/*   HOBBIES PAGE   */

div.hobbies{
    background-color: coral;
}


/*   CONTACT PAGE   */

div.contact{
    background-color: azure;
}